<div class="container">
<header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">
                <!--<img/>--> Handi Access
            </a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <div class="sticky-top">
                <nav class="navbar navbar-light bg-light">
                <div class="">
                    Accessiblité
                </div>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">A+</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
                </nav>
            </div>
          </div>
        </div>
      </header>
</div>