body {
  background-color: lightgray;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr, th{
  border: 1px solid #333;
  padding-left: 10px;
}

thead,
tfoot {
  background-color: grey;
  color: #fff;
}

tbody{

}