{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <h1>Classement des lieux de formation les plus adaptées</h1>

    <ul>
        {% for utilisateur in utilisateurs %}
            <li>{{ utilisateur.nomEntreprise }}</li>
        {% endfor %}
    </ul>

{% endblock %}
