{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <h3 style="text-align: center">Classement des lieux de formation les plus adaptées</h3>
    <table>
        <thead>
        <tr>
            <th scope="col">Classement</th>
            <th scope="col">Nom</th>
            <th scope="col">Lieu</th>
            <th scope="col">Lien</th>
            <th scope="col">Certification</th>
            <th scope="col">Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">#1</th>
            <th>EPSI - Campus de Rennes</th>
            <th>Rue Fernand Robert, 35000 Rennes</th>
            <th>epsi.fr</th>
            <th><img src="logo_label.png"></img></th>
            <th>8/10</th>
        </tr>

        </tbody>
    </table>
{% endblock %}
